[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"

[packages]
django = "*"
djangorestframework = "*"
numpy = "*"
pillow = "*"
scikit-image = "*"
tensorflow = "==1.15.2"
pusher = "*"
keras = "==2.2.5"
django-crispy-forms = "*"
channels = "*"
channels-redis = "*"

[requires]
python_version = "3.6"
