<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="jumbotron">
            <h1>Login here :</h1>
            <form method="post" action="{% url 'registration:user_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="login">
                <input type="hidden" name="next" value="{{ next }}">

            </form>
        </div>
    </div>
{% endblock %}
</body>
</html>