{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="jumbotron">
            {% if registered %}
                <h1>Thank you for registering!</h1>
            {% else %}
                <h1>Register Here</h1>
                <h5 class="text-secondary">Your information won't be shared.</h5>
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary" value="Register">
                </form>

            {% endif %}
        </div>
    </div>
{% endblock %}
