{% extends 'spineyolo/image_list.html' %}
{% block latest_image %}
    <img id="analyzed-image-preview" src="" style="max-width:512px;">
{% endblock %}

{% block latest_coordinates %}
    <a href="" class="btn btn-primary btn-md disabled" id="csv-button">Download Spine Coordinates</a>
{% endblock %}

{% block content_header %}
    {% load static %}

    <h2> Current Analysis </h2>
    <h5>Progress:</h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
             id="progress-bar"
             aria-valuenow="0"
             aria-valuemin="0" aria-valuemax="100" style="width: 0%"> Progress
        </div>
    </div>
    <br>
    <br>


    <script>

        var pk = "{{ pk }}";

        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/spineyolo/images/analyze/' + pk + '/');

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if (data['message'] != null) {
                const message = data['message'];
                console.log(message);
                {#document.querySelector('#analysis-log').value += (message + '\n');#}
            } else if (data['progress'] != null) {
                const progress = data['progress'];
                {#document.querySelector('#analysis-log').value += (progress + ' is the progress\n');#}
                document.querySelector('#progress-bar').style.width = (progress + '%');
            } else if (data['finished'] != null) {
                console.log(data['finished']);
                console.log('it is finished now what?');
                document.querySelector('#csv-button').className = "btn btn-primary btn-md";
                document.querySelector('#csv-button').setAttribute("href", data["spine_coordinates_url"]);
                document.querySelector('#analyzed-image-preview').setAttribute("src", data["analyzed_image_url"])
            }
        };

        chatSocket.onclose = function (e) {
            console.error('Analysis socket closed unexpectedly');
        };
    </script>

{% endblock %}