{% extends 'spineyolo/image_list.html' %}
{% block content_header %}
    {% load static %}


    <p>test chat area</p>

    <body>
    <textarea id="analysis-log" cols="100" rows="20"></textarea><br/>
    <input id="analysis-message-input" type="text" size="100"/><br/>
    <input id="analysis-message-submit" type="button" value="Send"/>

    <p>test chat area end</p>
    </body>


    <script>

        var pk = "{{ pk }}";

        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/spineyolo/images/analyze/' + pk + '/');

        chatSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            document.querySelector('#analysis-log').value += (message + '\n');
        };

        chatSocket.onclose = function (e) {
            console.error('Analysis socket closed unexpectedly');
        };


        document.querySelector('#analysis-message-input').focus();
        document.querySelector('#analysis-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#analysis-message-submit').click();
            }
        };

        document.querySelector('#analysis-message-submit').onclick = function (e) {
            var messageInputDom = document.querySelector('#analysis-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));

            messageInputDom.value = '';
        };

    </script>


    <h2> Current Analysis </h2>
    <h5>Progress:</h5>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
             aria-valuenow="75"
             aria-valuemin="0" aria-valuemax="100" style="width: 75%"> Progress
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br>
            <img src="{% static "images/front_page_example.jpg" %}">
            <br>
        </div>
        <div class="col">
            <br>
            <h5>Coordinates: X Y Z, Score</h5>
        </div>
    </div>
    <br>
    <br>

{% endblock %}