{% extends 'base.html' %}
{% block header %}
    {% load static %}

    <script src="{% static 'js/image_list.js' %}"></script>

{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa {
            font-size: 50px;
            cursor: pointer;
            user-select: none;
        }

        .fa:hover {
            color: darkblue;
        }
    </style>
    <div class="content">
        {% block content_header %}
            <p><a href="{% url 'spineyolo:upload_image' %}" class="btn btn-primary ">Analyze New Image</a></p>
        {% endblock %}
        <h2>Analysis History</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Time Added</th>
                <th>Scale</th>
                <th>Uploaded Image</th>
                <th>Analyzed Image</th>
                <th>Coordinates File</th>
                <th>Rating</th>
            </tr>
            </thead>
            <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.date_uploaded|date:'Y-m-d H:i' }}</td>
                    <td>{{ image.scale }}</td>
                    <td>
                        {% if image.image_preview %}
                            <img src="{{ image.image_preview.url }}" alt="{{ image.image_preview.name }}"
                                 style="max-width:256px;">
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>
                        {% if forloop.counter0 is 0 %}
                            {% block latest_image %}
                                <img src="{{ image.analyzed_image.url }}" alt="{{ image.analyzed_image.name }}"
                                     style="max-width:256px;">
                            {% endblock %}
                        {% else %}
                            {% if image.analyzed_image %}
                                <img src="{{ image.analyzed_image.url }}" alt="{{ image.analyzed_image.name }}"
                                     style="max-width:256px;">
                            {% else %}
                                N/A
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {% if forloop.counter0 is 0 %}
                            {% block latest_coordinates %}
                                <a href="{{ image.spine_coordinates_file.url }}" class="btn btn-primary btn-sm">
                                    Download Coordinates</a>
                            {% endblock %}
                        {% else %}
                            {% if image.spine_coordinates_file %}
                                <a href="{{ image.spine_coordinates_file.url }}" class="btn btn-primary btn-sm">
                                    Download Coordinates</a>
                            {% else %}
                                N/A
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        <i onclick="changeRating(this, '{{ image.pk }}')" id="rating-{{ image.pk }}"
                           class="fa fa-thumbs-{{ image.rating|yesno:"up,down" }}"></i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <script>

        const ratingSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/spineyolo/images/');

        ratingSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const rating = data['rating'];
            const pk = data['pk'];
            const idToChange = ("#rating-" + pk);
            console.log(idToChange);
            document.querySelector(idToChange).className = getRatingClass(rating);
        };

        ratingSocket.onclose = function (e) {
            console.error('Review socket closed unexpectedly');
        };

    </script>

{% endblock %}