<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpineYOLOnline</title>
</head>
<body>
{% extends "base.html" %}
{% block content %}
    {% load static %}

    <div class="jumbotron">
        <h2>Welcome to the SpineYOLOnline!</h2>
        {% if user.is_authenticated %}
            <h5>Hello {{ user.username }}</h5>
        {% else %}
            <h5>Please
                <a href="{% url "registration:user_login" %}">login</a>
                or
                <a href="{% url 'registration:register' %}">register</a> to test the tool</h5>
        {% endif %}
    </div>
    <div class="container">
        <div class="row">
            {% block upload_image %}

            {% endblock %}

            <div class="col-md-4 order-md-2 mb-4">
                <img src="{% static "images/front_page_example.jpg" %}"
                     alt="Sample Image" float="right">
            </div>
        </div>
        <div class="'ml-container">


            <h3>Please be patient. If it doesn't work, try running in incognito mode (cleared cache).</h3>
            <ul>
                <li>SpineYOLO is still in alpha testing with very limited server volume.</li>
                <li>This website serves as a test, not replacement, for SpineYOLO</li>

                <li>Currently, SpineYOLO works best on monochrome tiffs.</li>
                <li>Try keeping your image sizes limited to 512x512 pixels and 6 Z planes.</li>
                <li>Make sure spines can easily be resolved by eye.</li>

                <li>You can find the source code for this website here:</li>
            </ul>
            <p><a href="https://github.com/mikeusru/SpineYoloOnline">SpineYoloOnline GitHub</a></p>

            <h2>Add your own training data...</h2>
            <p>This model has been trained on a limited amount of training data.
                If it doesn't work for your data, we suggest you submit your own
                images along with their corresponding labels. It is suggested that you label at least
                300 spines for the model to work with your dataset.</p>
            <p>Please see the GitHub page for instructions on labeling training data</p>

            <a href="https://github.com/mikeusru/SpineYolo">SpineYolo GitHub</a>
            <br>
            <br>

        </div>
    </div>

{% endblock %}
</body>
</html>